#logo {
    width: 100px;
}

html {
    font-family: "Comic Sans MS", serif;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-repeat: repeat;
}

html, a {
    cursor: url(/images/cursor.jpg), auto;
}

navbar {
    display: block;
}

.outer {
    display: inline-block;
    border-style: ridge;
}

.inner {
    border-style: inset;
    background: lightgrey;
}

.bio-text {
    display: inline-block;
    vertical-align: top;
}