#logo {
    width: 100px;
}

html {
    font-family: "Comic Sans MS", serif;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-repeat: repeat;
}

* {
    cursor: url(/images/cursor.jpg), auto;
}

a:hover, #logo:hover {
    cursor: url(/images/cursorinvert.jpg), auto;
}

navbar {
    display: block;
}

.outer {
    display: inline-block;
    border-style: ridge;
}

.inner {
    border-style: inset;
    background: lightgrey;
}

.bio-text {
    display: inline-block;
    vertical-align: top;
    width: 256px;
}

.bio-text h2 {
    margin: 0px;
}

#bio-content {
    width: 520px;
}

ul {
    list-style-image: url('/images/trashicon.png');
  }